# Database Secrets Template
# DO NOT commit this file with actual values!
# Use: kubectl create secret generic from this template

apiVersion: v1
kind: Secret
metadata:
  name: comsa-db-credentials
  namespace: comsa-dashboard
type: Opaque
stringData:
  PGHOST: "172.23.53.49"
  PGPORT: "5432"
  PGUSER: "eric"
  PGPASSWORD: "REPLACE_WITH_ACTUAL_PASSWORD"
  PGDATABASE: "comsa_dashboard"
